<<master
/*This CSS is specially made for cesta.me*/
/*Created by its contributor(s)*/
/*Last Updated on 21 MAY 2020*/
>> web-design-compition-1

/* The navbar section starts here */
.navbar{
    padding-top:2vh;
    padding-bottom:2vh;
}
.navbar-brand{
    font-family: 'Quicksand', sans-serif;
    color:white;
    font-weight: bolder;
    letter-spacing:0.5vh;
    font-size: 30px;
}
/* The navbar section ends here */

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-outline-primary {
    color: white;
    border-color: white;
  }
/* new*/
a{
 color: white; 
}
.jumbotron{
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 22vh;
  margin-bottom: 0rem;
  background-image: url("dtcb.jpg");
  background-size:cover;  
  width:100%;
  background-blend-mode: hue;

}

.ok{
  padding-left: 72vh;
}

h1{
  text-align: center;
  color: white;
  font-size: 3.6em;
  margin: 30px 0 0;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

h2{
   text-align: center;
  color: white;
  font-size: 1.2em;
  margin: 30px 0 0;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

h5{
text-align: center;
  color: white;
  font-size: 1.6em;
  margin: 30px 0 0;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

/* Button Components */
.button1{
    border:0px;
    padding:1.5vh;
    border-radius:0.7vh;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size:1.7vh;
    background-color: rgb(56, 102, 235);
    color:white;
    letter-spacing:0.2vh;


}
.button2{
    border:0px;
    padding:1.5vh;
    border-radius:0.7vh;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size:1.7vh;
    background-color:rgb(227, 224, 251);
    color:rgb(56, 102, 235);
    letter-spacing:0.2vh;
}
.btn3{
    border:0px;
    padding:1.3vh;
    border-radius:0.7vh;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size:1.5vh;
    background-color: rgb(56, 102, 235);
    color:white;
    letter-spacing:0.3vh;
}
.btn4{
    border:0px;
    padding:1.8vh;
    border-radius:0.7vh;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size:1.7vh;
    background-color:rgb(227, 224, 251);
    color:rgb(56, 102, 235);
    letter-spacing:0.2vh;
    width:13vh;
}
.btn5{
    font-family: 'Dosis', sans-serif;
    font-size:1.7vh;
    background-color:#499e7f;
    letter-spacing: 0.3vh;
    border-radius:0.7vh;
    border:0px;
    width:30vh;
    height: 4vh;
    color:white;
}
/* Button components ends here */

.png-pad {
    padding-top: 1vh;
    padding-bottom: 5vh;
    font-family: 'Cinzel', serif;
}

/* CSS For Images */
.cover{
    height: 35vh;
    width: 45vh;
}
.png{
    height: 4vh;
}
.png2{
    height:7vh;
}
.png3{
    height:3vh;
}
.lottie{
    height:50vh;
    width:50vh;
}
.tick{
    height: 3vh;
}
.png4{
    border-radius:15vh;

}
.jpg{
    width:40vh;
    height:25vh;
    border-radius: 0.5vh;
}
/* CSS for images ends here */



.page-header.page-header-small{
   
    padding-bottom: 15vh;
    min-height: 65vh!important;
    max-height: 700px;
    background-position: relative;
    background-size: cover;
    background-color: #FFFFFF;
    font-family: 'Cinzel', serif;
}  


.heading{
    padding-top:2vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 3.8vh;
    padding-bottom:2vh;
    margin: 0px;

}
.description{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.3vh;
    color:rgb(89, 106, 130);
    font-size:1.9vh;
    padding-bottom: 5vh;
}

.png-pad{
    padding-top:1vh;
    padding-bottom: 5vh;
}
.png-about{
    padding-top:1vh;
    font-family: 'Dosis', sans-serif;
    font-size:1.7vh;
    font-weight:bold;
    color:rgb(89, 106, 130);
    letter-spacing: 2px;
}
.symbols{
    padding-top:3vh;
    padding-left: 25vh;
}

.second{
    padding-top:7vh;
    padding-bottom:7vh;
    background:#434343;
    color: black; 
}


hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
  

.info{
    padding-top: 3vh;
    font-family: 'Quicksand', sans-serif;
    font-size:1.9vh;
    letter-spacing:0.2vh;
    color:white;
}
.info2{
    padding-top:2vh;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.3vh;
    color:#e9e4f0;
    font-size:1.4vh;
    line-height:2.5vh;
}
.third{
    background: #f1f4f8; 
}
.notice{
    padding-top:10vh;
    padding-bottom:12vh;
}
.notice1{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.3vh;
    font-size: 3vh;
    border-left:2px solid #b9c1c9;;
    padding-left: 3vh;
}
.notice2{
    padding-top:3vh;
    color:rgb(89, 106, 130);
    font-size:2vh;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
    border-left:2px solid #b9c1c9;;
    padding-left: 3vh;
}
.reason{
    padding-bottom:5vh;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.3vh;
    font-size: 2.5vh;
    color:#E9E4F0;
}
.fourth{
    padding-top:10vh;
    background: #434343;
    padding-bottom: 10vh; 
}
.contact{
    padding-top: 10vh;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.3vh;
    font-size: 2.8vh;
    color: white;
}
.contact1{
    font-size:2.5vh;
    color:white;
}
.contact2{
    font-size:1.8vh;
    font-family: 'Dosis', sans-serif;
    color:#d3cce3;
    padding-top:1vh;
}
.contact3{
    padding-top: 2vh;
    font-size: 1.5vh;
    color:#d3cce3;
}
.form{
    margin: 0vh;
    width:40vh;
    background-color: white;
    padding-bottom: 2vh;
    border-radius: 0.5vh;
}
.input{
    border:0px;
    border-bottom: 1px solid #b9c1c9;
    width: 35vh;
    height: 4vh;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.3vh;
}
.input1{
    border:0px;
    border-bottom: 1px solid #b9c1c9;
    width: 35vh;
    height: 10vh;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.3vh;
    padding-top: 0.7vh;
}
.foot{
    background-color:#000000;
    padding-top:15vh;
    padding-bottom: 15vh;
}
.foot-text{
    font-family: 'Quicksand', sans-serif;
    letter-spacing:0.3vh;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 1.5vh;
    color: white;
}
.foot-text1{
    padding-top: 3vh;
    color: white;
    font-size: 2.3vh;
}
.foot-text2{
    font-size:1.6vh;
    padding-top: 1vh;
    color:white;
    padding-bottom: 5vh;
}


.pad{
    padding-top:0vh;
}
.course{
    font-family: 'Dosis', sans-serif;
    letter-spacing:0.3vh;
    font-size: 2.4vh;
}
.course-info{
    font-family: 'Quicksand', sans-serif;
    letter-spacing:0.3vh;
    font-size: 1.5vh;
    padding:2vh;
    color:rgb(121, 133, 151);
}


/* CSS for mobile Devices */

@media only screen and (max-width: 600px) {
    .first{
        padding-top: 3vh;
    }
}